@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap');

:root {
    --ptrs-z-index: 0;
}

body,
html {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'Fraunces', serif;
    font-size: 1em;
}

.content {
    position: relative;
    padding: 1em;
    margin: 1em;
    background-color: rgba(189, 206, 204, 0.6);
    text-overflow: ellipsis;
    max-width: 40em;
    overflow: hidden;
    border-radius: 5px;
    background-blend-mode: soft-light;
}
.content h1 {
    /* padding: 0.5em; */
    /* margin: 0.1em; */
    line-height: 1.35em;
}
.content p {
    line-height: 1.5em;
}
.content span {
    opacity: 0.9;
    position: relative;
    /* background-color: rgba(240, 255, 255, 0.5); */
    box-shadow: 0px 0px 0px 2px rgba(240, 255, 255, 0.5),
        inset 0px 0px 0px 20px rgba(240, 255, 255, 0.5);
}
.content span::before {
    content: '';
    /* position: absolute; */
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
}

#svg-mesh,
#background {
    z-index: -1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: teal
        url('https://images.unsplash.com/photo-1541028114007-e33143a0a955?auto=format&fit=crop&w=1900&q=30')
        no-repeat center center fixed;
    background-size: cover;
    mix-blend-mode: soft-light;
}

#svgMesh circle {
    fill: teal;
}

#svgMesh {
}

.mix-blend-mode .searchlight {
    z-index: var(--ptrs-z-index);
    position: absolute;
    transition-timing-function: ease-out;
}
.mix-blend-mode .searchlight.red {
    transition-duration: 425ms;
}
.mix-blend-mode .searchlight.green {
    transition-duration: 585ms;
}
.mix-blend-mode .searchlight.blue {
    transition-duration: 725ms;
}
